body {
  padding: 10px;
  background-color: rgb(53, 44, 58)
}

.App {
  text-align: center;
}

.App-header {
  background-color: rgb(73, 73, 141);
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 10px 5px 5px black;
}

.starship-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

#starshipDiv {
  border: 1px solid black;
  border-radius: 10%;
  background-color: rgb(73, 73, 141);
  color: white;
  width: 250px;
  display: grid;
  justify-content: center;
  padding: 15px;
  margin: 1rem;
  box-shadow: 10px 5px 5px black;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover, #starshipDiv:hover {
  color: grey;
}
.loadingText {
  display: flex;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
}